body { 
  background-color: #d2dae6;
}

.header {
  background-color: #36465d;
  padding-top: 1.250em;
  padding-bottom: 0.5em;
}

.header__logo-container {
  .header__tumblr-icon {
    background-image: url('../assets/images/tumblrIcon.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 40px;
    display: block;
  }
}

.header__search-section {
  .header__search-form {
    position: relative;
    .header__input-search {
      width: 315px;
      height: 2.125em;
      background-color: #2d3a4e;
      border: none;
      border-radius: 8px;
      padding: 0.500em 0 0.500em 0;
      color: #c6c6c6;
      padding-left: 2.5em;
    }
    i {
      position: absolute;
      left: 3%;
      top: 0.6em;
      color: #c6c6c6;
    }
  }
}

.header__navigation {
  .header__navigation-list {
    li {
      display: inline;
      list-style: none;
      font-size: 1.5em;

      .nav__icon-color {
        color: #c6c6c6;
      }
    }

    .header__navigation-icon {
      margin-right: 7%;
    }

    .header__navigation-icon-last {
      margin-right: 0%;
    }
  }
}

/* Main styles*/

.main {
  background-color: #d2dae6;
  padding: 2.500em 0 0 0%;
}

.main__section-image-logo {
  text-align: center;
  margin-bottom: 2em;
  img {
    margin: 0 auto;
  }
}

.main__section-content {
  background-color: #ffffff;
  padding: 1.500em 0 0 0;
  border-radius: 5px;
  margin-bottom: 2em;
}

.main__section-icons {
  padding: 0 0 0.5em 9%;
  .main__section-icons-group {
    padding-bottom: 1em;
    display: inline-block;
    margin-right: 6%;
    a {
      display: inline-block;
    }
  
    span {
      padding-top: 1em;
      display: block;
    }
  }
}

.header__section-icons-last {
  margin: 0;
}

.main__story {
  padding: 0 0 1em 0;
  .main__story-title {
    .story__title-blog {
      p {
        color: #c6c6c6;
        display: inline;
        margin-right: 5%;
      }
      span {
        font-weight: 800;
        color: #565656;
      }
    }
  }

  .main__story-icons {
    a {
      padding-left: 20%;
    }
  }
}

.main_story-image {
  padding: 0 0 0 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.story__image-caption {
  padding: 1em 0 0 0%;
  p {
    color: #c6c6c6;
  }
}

.story__notes {
  padding: 0 0 0.5em 1%;
  p {
    color: #8f8f8f;
    font-size: 0.8em;
    font-weight: 800;
  }
}

.story__comments-icons {
  padding-left: 12%;
  a {
    margin-right: 15%;
  }
  .story__comments-icons-last {
    margin-right: 0;
  }
}

/* Aside styles*/

aside {
  background: #ffffff;
  padding: 1.563em 0 0 2%;
  margin-bottom: 1.875em;
  h6 {
    text-transform: uppercase;
  }
}

.aside__blog-container {
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 1.250em;
  padding-top: 1.250em;
}

.aside__blog-username {
  p{
    color: #c6c6c6;
    font-size: 0.8em;
    display: block;
    margin: 0;
    span {
      font-weight: 800;
      color: #565656;
    }
  }
}

.aside__blog-link {
  padding: 0.938em 0 0.938em 0;
  a {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.aside__radar-container {
  padding-bottom: 1.250em;
  padding-top: 1.250em;
}

.aside__radar-image {
  img {
    width: 100%;
  }
}

.radar__caption-notes {
  color: #8f8f8f;
  font-size: 0.8em;
  font-weight: 800;
}

.radar__caption-links {
  padding-left: 50%;
  a {
    margin-right: 15%;
  }
}

/*Modal styles*/

.modal-body {
  background-color: #f3f3f3;
  padding-top: 0px;
  padding-bottom: 0px;
  .modal--options-border{
    border-right: 1px solid #d5d5d5;
  }
  .modal--options-camara {
    padding: 6.25rem 0 4.25rem 0;
    text-align: center;
    background-image: url('../assets/images/camaraModal.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 30%;
    p {
      padding-top: 1.5rem;
      color: #bbbbbb;
    }
  }

  .modal--options-globe {
    padding: 6.25rem 0;
    text-align: center;
    background-image: url('../assets/images/globeModal.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 25%;
    p {
      padding-top: 1.5rem;
      color: #bbbbbb;
    }
  }
}

.modal-footer {
  justify-content: flex-start;
  display: inline;

  .modal--button-close {
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #565656;
    }
  }
}