body { 
  background-color: #d2dae6;
}

.header {
  background-color: #36465d;
  padding-top: 1.250em;
  padding-bottom: 1.176em;
}

.header__logo-container {
  padding: 0 0 0 50%;
}

.header__input-search {
  width: 315px;
  height: 2.125em;
  background-color: #2d3a4e;
  border: none;
  border-radius: 8px;
  padding: 0.500em 0 0.500em 0;
  color: #c6c6c6;
  padding-left: 1.250em;
  background-image: url('../www/images/searchIcon.png');
  background-repeat: no-repeat;
  scroll-behavior: 7px 7px;
}

.header__navigation {
}

.header__navigation-icon {
  margin-right: 7%;
}

.header__navigation-icon-last {
  margin-right: 0%;
}

.header__navigation-icon-selected{
  background-color: #529ecc;
  padding: 0.2em 0.5em 0.5em 0.5em;
  border-radius: 8px;
}

/* Main styles*/

.main {
  background-color: #d2dae6;
  padding: 2.500em 0 0 0%;
}

.main__section-image-logo {
  text-align: center;
  img {
    margin: 0 auto;
  }
}

.main__section-content {
  background-color: #ffffff;
  padding: 1.500em 0 0 0;
  border-radius: 5px;
}

.main__section-icons {
  padding: 0 0 0.5em 9%;
  .main__section-icons-group {
    padding-bottom: 1em;
    display: inline-block;
    margin-right: 6%;
    a {
      display: inline-block;
    }
  
    span {
      padding-top: 1em;
      display: block;
    }
  }
}

.header__section-icons-last {
  margin: 0;
}

/* Aside styles*/

aside {
  background: #ffffff;
  padding: 1.563em 0 0 2%;
  margin-bottom: 1.875em;
  h6 {
    text-transform: uppercase;
  }
}

.aside__blog-container {
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 1.250em;
  padding-top: 1.250em;
}

.aside__blog-username {
  p{
    color: #c6c6c6;
    font-size: 0.8em;
    display: block;
    margin: 0;
    span {
      font-weight: 800;
      color: #565656;
    }
  }
}

.aside__blog-link {
  padding: 0.938em 0 0.938em 0;
  a {
    text-transform: uppercase;
    font-weight: 600;
  }
}